@font-face {
    font-family: vazir;
    src: url(../font/Vazir.eot);
    src: url(../font/Vazir.ttf);
    src: url(../font/Vazir.woff);
    src: url(../font/Vazir.woff2);
    font-weight: bold;
}

body {
    font-family: vazir;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 123, 255);
    width: 15px;
}

::-webkit-scrollbar {
    width: 15px;
}

/* ----------------style navbar---------------------- */

.padding-nav {
    padding-top: 56px;
}

.nav-fix {
    position: fixed;
    top: -56px;
    z-index: 1000;
    width: 97.8%;
    left: 15px;
    transform: translatey(100%);
    transition: transform .5s ease-in;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #131415;
}

.bg-dark {
    background-color: rgba(19, 18, 18, 0.7)!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(189, 255, 255, 1.5);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #3e454c;
}

/* ----------------style index---------------------- */

.carousel {
    margin-top: -70px;
}

.carousel-indicators li {
    width: 40px;
    height: 7px;
}

.carousel-indicators .active {
    background-color: rgb(0, 123, 255);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 35px;
    height: 42px;
}

/* ------ style resume ------- */

.post:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.3rem 2rem #686868;
    opacity: 1;
}

.post {
    cursor: pointer;
    opacity: 0.9;
    transition: transform .20s ease-out, opacity .20s ease-out, box-shadow .20s ease-out, -webkit-transform .20s ease-out;
}

.Resume-backgrund {
    background-color: #b6c0ea;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* ------ style contact me ------- */

.direction-progress {
    direction: rtl;
    text-align: right;
}

.progress-bar {
    animation: 2s ease-out 0s 1 slideInFromLeft;
    background: blue;
    padding: 30px
}

.nav-primary a {
    text-decoration: none;
}

.nav-primary a::after {
    background: none;
}

/* ------------parallax------------- */

.outer {
    display: table;
    height: 100%;
    width: 100%;
    background-image: url('../images/8.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(187, 190, 206, 0.5);
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

.img-color span {
    color: white;
}

/* *********  style owl slider  ************* */

.owl-carousel {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    margin-top: 50px;
}

.background-resome {
    background: #f1f1f1;
}

.title-resome {
    margin: 20 auto -40px;
}

.owl-stage-outer {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 30px;
    padding-right: 10px;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
}

.owl-carousel .owl-nav button.owl-next span {
    font-size: 50px !important;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: 0;
    top: 10;
    width: 30px;
    bottom: 0;
}

.owl-carousel .owl-nav button.owl-prev span {
    font-size: 50px !important;
}

.owl-item:hover {
    transform: scale(1.05, 1.05) !important;
    width: 250px;
}

.owl-item .card:hover {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.owl-item .card {
    border-radius: 15px;
}

.owl-item .card-img-top {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.owl-item {
    transition: all .8s cubic-bezier(.175, .885, 0, 1) !important;
}

.owl-prev:focus, .owl-next:focus {
    outline: none;
}

.card-body span {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.owl-item:hover span {
    visibility: visible;
    opacity: 1;
}


.card-body span img {
    padding-left: 10px;
    margin-top: -5px;
}