@font-face {
    font-family: vazir;
    src: url(../font/Vazir.eot);
    src: url(../font/Vazir.ttf);
    src: url(../font/Vazir.woff);
    src: url(../font/Vazir.woff2);
    font-weight: bold;
}

body {
    font-family: vazir;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 123, 255);
    width: 15px;
}

::-webkit-scrollbar {
    width: 15px;
}


/* ----------------style navbar---------------------- */

.padding-nav {
    padding-top: 70px;
}

.nav-fix {
    position: fixed;
    top: -56px;
    z-index: 1000;
    width: 97.8%;
    left: 15px;
    transform: translatey(100%);
    transition: transform .5s ease-in;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #131415;
}

.bg-dark {
    background-color: rgba(19, 18, 18, 0.7)!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(189, 255, 255, 1.5);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #3e454c;
}


/* ----------------style index---------------------- */

.carousel {
    margin-top: -70px;
}

.carousel-indicators li {
    width: 40px;
    height: 7px;
}

.carousel-indicators .active {
    background-color: rgb(0, 123, 255);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 35px;
    height: 42px;
}


/* ------ style resume ------- */

.post:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.3rem 2rem #686868;
    opacity: 1;
}

.post {
    cursor: pointer;
    opacity: 0.9;
    transition: transform .20s ease-out, opacity .20s ease-out, box-shadow .20s ease-out, -webkit-transform .20s ease-out;
}

.Resume-backgrund {
    background-color: #b6c0ea;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}


/* ------ style contact me ------- */

.direction-progress {
    direction: rtl;
    text-align: right;
}

.progress-bar {
    animation: 2s ease-out 0s 1 slideInFromLeft;
    background: blue;
    padding: 30px
}

.nav-primary a {
    text-decoration: none;
}

.nav-primary a::after {
    background: none;
}


/* ------------parallax------------- */

.parallax-text p {
    position: relative;
    top: -200;
    left: 28px;
    color: white;
    z-index: 9999;
}

.parallax-background-color {
    background-color: rgb(3, 3, 32);
}

.parallax-background-color :nth-child(1) {
    opacity: .6;
    /* The image used */
    background-image: url('../images/8.jpg');
    /* Full height */
    height: 60%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-footer {
    height: 300px;
    background-color: rgb(8, 8, 39);
    font-size: 20px;
    color: white;
    text-align: right;
}

.parallax-footer h2 {
    margin-right: 10px;
}


/* *********  style owl slider  ************* */

.owl-carousel {
    margin-top: 50px;
    margin-bottom: 50px;
}

.owl-item:hover {
    box-shadow: 0 18px 18px -8px rgba(0, 0, 0, .1);
    transform: scale(1.05, 1.05);
    transition: all 1s cubic-bezier(.175, .885, 0, 1);
}

.owl-item {
    margin-right: -6%;
}

.owl-stage {
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.25s ease 0s;
    width: 2149px;
}

.card {
    margin-top: 50px;
}

.background-resome {
    background: #f1f1f1;
}

.title-resome {
    margin: 20 auto -40px;
}