@font-face {
    font-family: vazir;
    src: url(../font/Vazir.eot);
    src: url(../font/Vazir.ttf);
    src: url(../font/Vazir.woff);
    src: url(../font/Vazir.woff2);
    font-weight: bold;
}

body {
    font-family: vazir;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 123, 255);
    width: 15px;
}

::-webkit-scrollbar {
    width: 15px;
}


/* ----------------style navbar---------------------- */

.nav-fix {
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 82.2%;
    animation: 2s ease-in 0s 1 slideInFromDown;
    left: 120px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #131415;
}

.bg-dark {
    background-color: rgba(19, 18, 18, 0.7)!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(189, 255, 255, 1.5);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #3e454c;
}


/* ----------------style index---------------------- */

.carousel {
    margin-top: 58px;
}

.carousel-indicators li {
    width: 40px;
    height: 7px;
}

.carousel-indicators .active {
    background-color: rgb(0, 123, 255);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 35px;
    height: 42px;
}


/* ------ style resume ------- */

.post:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.3rem 2rem #686868;
    opacity: 1;
}

.post {
    cursor: pointer;
    opacity: 0.9;
    transition: transform .20s ease-out, opacity .20s ease-out, box-shadow .20s ease-out, -webkit-transform .20s ease-out;
}

.Resume-backgrund {
    background-color: #b6c0ea;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromDown {
    0% {
        transform: translateY(-100);
    }
    100% {
        transform: translateY(0%);
    }
}


/* ------ style contact me ------- */

.direction-progress {
    direction: rtl;
    text-align: right;
}

.progress-bar {
    animation: 2s ease-out 0s 1 slideInFromLeft;
    background: blue;
    padding: 30px
}

.nav-primary a {
    text-decoration: none;
}

.nav-primary a::after {
    background: none;
}